@import 'antd/dist/antd.css';

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(./assets/bg.png);
  background-position: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wrapper {
  width: 320px;
}

.box {
  display: flex;
  flex-direction: column;
  height: 400px;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

.img {
  width: 72px;
  height: 72px;
  display: block;
}

.circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.help {
  position: absolute;
  top: 0;
  left: 0;
  color: #00FF00;
  font-size: 20px;
}


